@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


html {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #686279;

    font-family: inter;
    color: #aaaaab;
}

h1, h2, h3, p, a { margin: 0; text-align: center;}

h1 {
    font-family: inter;
    font-size: 38px;
    font-weight: 500;

    color: #FFFFFF;
}

h2 {
    font-family: inter;
    font-size: 48px;
    font-weight: 500;

    color: #baa3f5;
}

a {
    color: #baa3f5;
    text-decoration: underline;
}

span {
    color: #baa3f5;
    text-decoration: underline;
}


button {
    font-family: inter;
    font-size: 15px;

    background: rgba(255, 255, 255, 0.124);
    color: #FFFFFF;

    outline: none;
    border: 2px #ffffff00 solid;

    border-radius: 8px;

    box-sizing: border-box;

    cursor: pointer;

    transition: box-shadow ease 0.2s, border ease 0.2s;

    margin-top: auto;
    width: 100%;
    height: 48px;

    padding: 0;
    
    backdrop-filter: saturate(100%) blur(2px);
}

button:hover {
    box-shadow: 0px 0px 3px -3px #9bcf78 ;
    border: 1px solid #9bcf78 !important;
}

.mainBox {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 600px;

	padding: 20px;
	border-radius: 20px;

	background-color: #332c41;
	box-shadow: 0px 0px 100px -5px #332c41;
}

.mainBox img {
	max-width: 100%;
	max-height: 35vh;
	height: 100%;
	width: auto;
	object-fit: contain;
}