html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
    cursor: pointer;
}

#click {
    position: absolute;
    color: black;
    z-index: 10;
    bottom: 50%;
    right: 50%;
    transform: translateY(-50%);
    transform: translateX(50%);
    font-size: 32px;
    background-color: blueviolet;
    border-radius: 32px;
    padding-inline: 4px;
    padding-block: 4px;
    user-select: none;
    pointer-events: none;
}