@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    height: 100%;
}

body {
    background-color: #686279;
    font-family: inter;
    color: #aaaaab;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1, h2, h3, p { margin: 0; }

h1 {
    font-family: inter;
    font-size: 38px;
    font-weight: 500;
    color: #FFFFFF;
}

h2 {
    font-family: inter;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
}

a {
    color: #baa3f5;
    text-decoration: underline;
}

.centered {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#api-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.mainBox {
    width: 100%;
    background-color: #332c41;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 100px -5px #332c41;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: none;
    box-sizing: border-box;
}