body, html {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-image: url(/assets/images/kurt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


h1 {
    margin: 0;
    padding: 0;
    
    font-size: 32px;
    text-align: center;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px black;
}

#infoDiv {
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
.hidden {
    display: none;
}