@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#notif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 1000;

    height: 0px;
    width: 100%;

    gap: 10px;
}

.notification {
    position: relative;
    z-index: 1000;

    top: 25px;
    padding: 10px 15px;

    border-radius: 8px;
    color: #332c41;

    font-family: inter;
    font-size: 14px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;    
}

.notification.success {
    background-color: #9bcf78;
}

.notification.error {
    background-color: #e26d6f;
}

.notification.info {
    background-color: #85c1dc;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0px); }
    to { opacity: 0; transform: translateY(-20px); }
}
