.password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password-input {
    flex-grow: 1;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.passwordWrap {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.eye-icon svg {
    position: absolute;
    width: 28px;
    height: 28px;
    fill: #686279;
    transition: opacity 0.2s ease, transform 0.2s ease; /* Smooth transition */
}

.eye-open {
    opacity: 1; /* Eye-open visible by default */
    transform: scale(1);
}

.eye-closed {
    opacity: 0; /* Eye-closed hidden by default */
    transform: scale(1);
}

.eye-icon.show-password .eye-open {
    opacity: 0; /* Fade out eye-open */
    transform: scale(0.95); /* Subtle pop-out effect */
}

.eye-icon.show-password .eye-closed {
    opacity: 1; /* Fade in eye-closed */
    transform: scale(1.05); /* Slightly larger pop-in effect */
}
